<!-- 여행일정 -->
{% extends 'info.html' %}
{% load static %}
{% block content %}  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Schedule</title>
</head>
<body>

    {% for ride in rides %}
    <div class="schedule">
        <div class="info_schedule">
            <div class="organize">
                <p>
                    <b>Arrival time:</b> <br>
                    {{ride.arriv_time}}
                </p>
            </div>
        </div>
        <div class="ride_destination">
            <div class="organize">
                <p>
                    <b>Destination:</b> <br>
                    {{ride.dest}}            
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="form">
        <form method="POST" action="{% url 'schedule' travel_id %}">
            {% csrf_token %}
            {{form}}
            <br />
    </div>
    <div class="button">
        <button type="submit">
            Add event
        </button>
    </div>
           
        </form>
    
    

    <script type="module" src="{% static 'js/info_bar.js' %}"></script>

</body>
</html>

{% endblock %}
