<!-- 여행일정 -->
{% extends 'info.html' %}
{% load static %}
{% block content %}  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Schedule</title>
</head>
<body>

    {% for ride in rides %}
    <div class="schedule" style="display:flex;">
        <div class="info_schedule">
            <div class="organize">
                <h3 style="text-align:left; padding-left:12%; padding-top:8%; width:50px;">
                    {{ride.arriv_time}}
                </h3>
            </div>
        </div>
        <div class="ride_destination">
            <div class="organize" style="padding-top: 10px; padding-left:10px;">
                <p>
                    {{ride.dest}}            
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="form">
        <form method="POST" action="{% url 'schedule' travel_id %}">
            {% csrf_token %}
            <div>
                Destination: <input type="text" name="dest">
                Arrival time: <input type="time" name="arriv_time">
                
            </div>
            <input class="button-26" type="submit" style="margin-left: 60%; margin-top: 2%;" value="Add event">
        </form>
    </div>
        

    
    

    <script type="module" src="{% static 'js/info_bar.js' %}"></script>

</body>
</html>

{% endblock %}
