<!-- 유저프로필 페이지 -->
{% extends 'info.html' %}
{% load static %}
{% block content %}  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/userdetail.css' %}">
    <title>My account</title>
</head>
<body>
    <div class="user_info">
        <h1> Welcome, {{user.username}}</h1>
    </div>
    <br />    
    <br />
    <br />
    <h2>&nbsp;&nbsp;Your Travel History</h2>
    <hr style="margin-top:15px;">
    <br />
    <div class="cards">
        {% for travel in travels %}
        <div class="containers">
            <div class="info">
                <p class="start_date">
                    {{travel.start_date.month}}/{{travel.start_date.day}} trip
                </p>
            </div>
            <div class="info">
                <p>
                    Destination:  
                </p>
                <p>
                    <a href="" class="location">
                        <!-- somehow make it show destination when tap on location -->
                        &nbsp;{{travel.dest}}
                    </a>
                </p>  
            </div>
            <div>
                <a href="{% url 'detail' travel.car.id %}" class="car-info">
                    > car info
                </a>
            </div>
            
            <div style="text-align: right; padding-right: 6.5%; margin-bottom: 2px;">
                <h3>schedule</h3>
                <div>
                    <a href="{%url 'schedule' travel.id %}" class="arrow" style="margin-top: 8%; margin-right: 4%;"></a>
                </div>
            </div>



            

        </div>
        {% endfor %}
    </div>
    <script type="module" src="{% static 'js/info_bar.js' %}"></script>
</body>
</html>
{% endblock %}