<!-- 유저프로필 페이지 -->
{% extends 'info.html' %}
{% load static %}
{% block content %}  


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="{% static 'css/userdetail.css' %}">
    <title>My account</title>
</head>
<body>
    <div class="cards">
        {% for travel in travels %}
        <div class="containers">
            <div class="info">
                <p class="start_date">
                    {{travel.start_date}}
                </p>
            </div>
            <div class="info">
                <p>
                    Destination:  
                </p>
                <p>
                    <a href="" class="location">
                        <!-- somehow make it show destination when tap on location -->
                        {{travel.dest}}
                    </a>
                </p>  
            </div>
            <div class="car"> 
                    <a href="{%url 'detail' travel.car.id %}">{{travel.car.name}}</a>
            </div> 
        </div>
        {% endfor %}
    </div>
    <script type="module" src="{% static 'js/info_bar.js' %}"></script>
</body>
</html>
{% endblock %}
