{% extends 'info.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ================= UNICONS =================== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/confirm.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="card">
            <div class="comment"> 
                <h3>Your reservation is confirmed!</h3>
                <hr class="line">
            </div> 
            <div class="comment space_evenly">
                <div class="comment_detail">
                    <span>Departure: </span>
                    <span>{{start_date}} {{start_time}}</span>
                </div>
                <div class="comment_detail">
                    <span>At: </span>
                    <span>{{start}}</span>
                </div>
            </div>
            <div class="link">
                <div class="button">
                    <a href="{% url 'map' %}">Back to Home</a>
                </div>
                <div class="button">
                    <a href="{% url 'schedule' travel_id %}">Schedule Trip</a>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    <script type="module" src="{% static 'js/info_bar.js' %}"></script>
</body>
</html>
{% endblock %}

