{% extends 'info.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ================= UNICONS =================== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="card">
        <div class="carPicture">
            <img src="{% static 'img/pbv1.jpg' %}" alt="pbv car" class="pbvImg">
        </div>
        <div class="car">
            <h2>{{car_detail.name}}</h2>
            <div class="detailInfo">
                <ul>
                    <li>{{car_detail.passNum}}인승</li>
                    <li>침대: {{car_detail.bedNum}}개</li>
                    <li>냉장고 여부: {{car_detail.fridge}}</li>
                    <li>전자레인지 여부: {{car_detail.mcwave}}</li>
                    <li>티비 여부: {{car_detail.tv}}</li>
                </ul>
            </div>
            
            {% if not car_detail.booked %}
            <div class="reserve_button">
                <a href="{% url 'reserve' %}">예약</a>
            </div>
            {% else %}
            현재 예약이 불가능한 차량입니다.
            {% endif %}
            
        </div>
    </div>


    <script src="{% static 'js/search.js' %}"></script>
    <script type="module" src="{% static 'js/info_bar.js' %}"></script>
</body>
</html>
{% endblock %}

