{% load static %}
{% block content %}  
{% endblock %}
<!-- ================= Info Bar ====================-->
<div class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">Home</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav_item">
                    <a href="#" class="nav__link" id="find-car">
                        <i class="uil uil-car-sideview nav__icon"></i> FindCar
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#" class="nav__link">
                        <i class="uil uil-user nav__icon"></i> MyAccount
                    </a>
                </li>
            </ul>
            <i class="uil uil-times nav__close" id="nav-close"></i>
        </div>

        <div class="nav__btns">
            <div class="nav__toggle" id="nav-toggle">
                <i class="uil uil-apps"></i>
            </div>
        </div>
    </nav>
</div>
<script src="{% static 'js/info_bar.js' %}"></script>