{% extends 'info.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ================= UNICONS =================== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/reserve.css' %}">
    <title>Reserve</title>
</head>
<body>
    <div class="reserve_date">
        <div class="wrapper">
            <div class="comment">
                <h2>You're almost there!</h2>
                <br> 
                <h3>Choose departure time and arrival time</h3>
                <hr class="line">
            </div>
            
            <form action="{% url 'confirm' %}" method="POST">
                <div class="reserve_time">
                    {% csrf_token %}
                    {{request.session.start_date}}
                    <input type="time" name="start_time" class="date_input">
                </div>
                <div class="reserve_time">
                    {{request.session.arriv_date}}
                    <input type="time" name="arriv_time" class="date_input">
                </div>
                <div class="reserve_button">
                    <input type="submit" value="confirm">
                </div>
            </form>
        </div>
    </div>

    <script type="module" src="{% static 'js/info_bar.js' %}"></script>
</body>
</html>
{% endblock %}