{% extends 'info.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ================= UNICONS =================== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <title>Search Map</title>
</head>
<body>
    <div class="header-wrapper">
        <div class="search-wrapper">
            <form method="GET" action="{%url 'search'%}">
                <div class="inputs">
                    <div class="input-wrapper">
                        <label for="form.start">Start</label>
                            <div class="search-input">
                                {{form.start}}
                            </div>
                    </div>
                    <div class="input-wrapper">
                        <label for="form.dest">Destination</label>
                        <div class="search-input">
                            {{form.dest}}
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label for="form.start_date">Start Date to End Date</label>
                        <div class="search-input-wrapper">
                            <div class="search-input-date">
                                {{form.start_date}}
                            </div>
                            <div class="search-input-date">
                                {{form.arriv_date}}
                            </div>
                        </div>
                    </div>            
                    <div class="input-wrapper">
                        <label for="form.travelerNum">Traveler Number</label>
                        <div class="search-input">
                            {{form.travelerNum}}
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="confirm_button">Confirm</button>
                </div>
            </form>
        </div>
    </div>

    <div id="cars">
        {% for car in cars %}
        <div class="car">
            <div class="info-wrapper">
                <h3>{{car.name}}</h3>
                <p>{{car.passNum}}인승</p>
                <p>침대: {{car.bedNum}}개</p>
                <div class="more-info">
                    <a href="{% url 'detail' car.id %}">Info</a>
                </div>
            </div>
            <div class="img">
                <img src="{% static 'img/pbv1.jpg' %}" alt="pbv car" class="pbvImg">
            </div>
        </div>
        {% endfor %}
    </div>
    <script type="module" src="{% static 'js/info_bar.js' %}"></script>
</body>
</html>
{% endblock %}

<!-- =======
<form method="GET">
    {{form.start}}
    {{form.dest}}
    {{form.start_date}}
    {{form.arriv_date}}
    {{form.dest_date}}
    {{form.travelerNum}}
    <input type="submit" value="찾기">
</form>

{% for car in cars %}
<h3>{{car.name}}</h3>
<h3>{{car.passNum}}인승</h3>
<h3>침대: {{car.bedNum}}개</h3>
<a href="{% url 'detail' car.id %}">정보</a>
{% endfor %} -->
