{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="header-wrapper">
        <div class="search-wrapper">
            <div class="input-wrapper">
                <label for="form.start">Start</label>
                    <div class="search-input">
                        {{form.start}}
                    </div>
            </div>
            <div class="input-wrapper">
                <label for="form.dest">Destination</label>
                <div class="search-input">
                    {{form.dest}}
                </div>
            </div>
            <div class="input-wrapper">
                <label for="form.start_date">Start Date to End Date</label>
                <div class="search-input-wrapper">
                    <div class="search-input-date">
                        {{form.start_date}}
                    </div>
                    <div class="search-input-date">
                        {{form.arriv_date}}
                    </div>
                </div>
            </div>            
            <div class="input-wrapper">
                <label for="form.travelerNum">Traveler Number</label>
                <div class="search-input">
                    {{form.travelerNum}}
                </div>
            </div>
        </div>  
    </div>

    <div id="cars">
        {% for car in cars %}
        <div class="car">
            <h3>{{car.name}}</h3>
            <p>{{car.passNum}}인승</p>
            <p>침대: {{car.bedNum}}개</p>
            <a href="{% url 'detail' car.id %}">정보</a>
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>


